absl-py==2.2.2
attrs==25.3.0
cattrs==1.5.0
cloudpickle==3.1.1
filelock==3.13.1
fsspec==2024.6.1
grpcio==1.71.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.13.0
Jinja2==3.1.4
Markdown==3.8
MarkupSafe==2.1.5
mlagents==0.30.0
mlagents-envs==0.30.0
mpmath==1.3.0
networkx==3.3
numpy==1.21.2
onnx==1.12.0
packaging==25.0
PettingZoo==1.15.0
pillow==11.2.1
protobuf==3.20.1
pypiwin32==223
pywin32==310
PyYAML==6.0.2
six==1.17.0
sympy==1.13.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
torch==2.2.2
typing_extensions==4.12.2
Werkzeug==3.1.3
